@import "../../variables.scss";

input[type="search"]{
    position: fixed;
    top: 25px;
    right: 20px ;
    border: none;
    background-color: $colorGrey;
    background-image: url("../../image/search.svg");
    background-position: right ;
    background-repeat: no-repeat;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    margin-right: 10px;
    z-index: 2;
}

.gamesList{
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 2;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    background-color: $colorBlack;
}

.hideGamesList{
display: none;
}