@import "../../variables.scss";

.gameItem{
    display: flex;
    width: 20vw;


    .gameCard{
            background-color: $colorMidnightBlue;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            h3{
                text-align: center;
            }
    }

    h1 {
        color: $colorWhite;
    }

    .readMoreLink{
        color: $colorWhite;
        text-decoration: none;
        background-color: $colorRed;
        padding: .5rem;
        border-radius: 10px;
    }
    p{
        margin-bottom: 1rem;
    }
;

        img{
            width: 100%;
            height: 10rem;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            margin-bottom: 1rem;
        }
    

}