@import "../../variables.scss";

#platform, #genre, #sortBy{
    color: $colorWhite;
    background-color: $colorMidnightBlue;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    width: 200px;
    height: 200px;

}

#platform .DropDownItem:first-of-type, #genre .DropDownItem:first-of-type, #sortBy .DropDownItem:first-of-type{
    background-color: $colorRed;
}

.DropDownItem{
    position: relative;
    padding: 12px 24px;
    background-color: $colorGrey;
    border-radius: 12px;
    margin-bottom: 10px;
    display: block;
}
