@import "../../variables.scss";

#platform, #genre, #sortBy{
    color: $colorWhite;
    background-color: $colorMidnightBlue;
    border: none;
    border-radius: 15px;
    width: 250px;
}

#platform option:first-of-type, #genre option:first-of-type, #sortBy option:first-of-type{
    background-color: $colorRed;
}

#platform option, #genre option, #sortBy option{
    padding: 12px 24px;
    background-color: $colorGrey;
    border-radius: 12px;
    margin-bottom: 10px;
}