@import "../../variables.scss";


.detailsItem{

    h1{
        color: $colorRed;
    }

    img{
        border-radius: 1.5rem;
        width: 200px;
    }

    button{
        width: 200px;
    }
}