@import "../../variables.scss";

.navBar{
position: fixed;
height: 100%;
top: 0;
left: 0;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
overflow-x: hidden;
transition: 0.5s;
background-color: $colorBlack;

    .hamburgerButton{
    display: block;
    position: absolute;
    top:0;
    width: 50px;
    height: 50px;
    background-image: url("../../image/BurgerIcon.svg");
    }
    .closeBtn{
        display: none;
        background-image: url("../../image/BurgerIconClose.svg");
        width: 50px;
        height: 50px;
        position: absolute;
        top:0;
        right: 25px;
        margin-left: 50px;
        }

    #home{
        background-image: url("../../image/home.svg");
    }
    
    #games{
        background-image: url("../../image/games.svg");
    }
    
    #recent{
        background-image: url("../../image/recentlyadded.svg");
    }

}

