@import '../../variables.scss';

.topGamesBrowser{
    position: relative;

    p{
        margin-bottom: 2rem;
    }
    
    .recentBrowserGameContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
        button{
            position: absolute;
            right: 10px;
            bottom: -60px;
        }
}