@import '../../variables.scss';

.recentlyList{
    position: relative;
    margin-top: 20px;
    
    .recentlyListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
    }
    
    button{
        position: absolute;
        right: 10px;
        bottom: -60px;
    }

}
