@import '../../variables.scss';

.recentlyList{
    
    
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    button{
        width: 7rem;
        padding: .5rem;
        margin-left: auto;
        color: $colorWhite;
        border-radius: 10px;
        background-color: $colorRed;
        cursor: pointer;
    }

}