/* color-scheme
#FF4654, #040F14, #102130, #375470, #AFC7DF, #FFFFFF
*/

$colorRed: #FF4654;
$colorBlack: #040F14;
$colorMidnightBlue: #102130;
$colorGrey: #375470;
$colorDove: #AFC7DF;
$colorWhite: #FFFFFF;